{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
         {{ template "_internal/disqus.html" . }}
         <a aria-label="Chat on WhatsApp" href="https://wa.me/919800725841?text=I%20am%20interested%20in%20this%20cake%20:{{.Title}}"> 
         <img alt="Chat on WhatsApp" src="{{ "img/Wapp.png" | absURL }}"> 
      </div>
    </div>
  </div>
</div>
{{ end }}
